*-debug.log
*-error.log
*.bak.*
*.local.json
*.log
*.tsbuildinfo
.agent/.cache/
.artifact
.cache/
.env
.log/slowtest/
.serverless
.temp
.terraform
.terraform.lock
.vscode
.yalc
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
coverage
dist
node_modules
!.test*/**/node_modules
!.test*/**/node_modules/**
